html, body {
  width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: 'r', sans-serif;
  color: #555;
}

article {
  text-align: center;
}

article header {
  color: #23282E;
  padding: 20px 0 0 0;
  width: 100%;
  border-bottom: 3px solid #337ab7;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

article header div {
  width: 80%;
  margin: 0 auto 20px auto;
  position: relative;
}

article header h1, article header h2 {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  color: whitesmoke;
  outline: black;
}

article section {
  padding: 0px 10%;
}

h1 {
  font-weight: 700;
  font-size: 3em;
}

h2 {
  font-weight: 600;
  font-size: 2em;
  font-family: 'rs';
}

h3 {
  color: #21c6dd;
}

section h1, h2 {
  color: #02a4c0;
}

p {
  line-height: 30px;
}

div.content-box {
  margin-top: 40px;
}

pre.form-control {
  margin: 10px 0;
}

.img-box {
  width: 100%;
  height: 400px;
}

.img-box img {
  width: 100%;
  height: 100%;
}

nav.routes-container {
  width: 100%;
}

ul.routes-list {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  display: flex;
  width: 60%;
}

li.route {
  display: inline-block;
  width: 100%;
  border: thin solid #ffffff;
  background-color: transparent;
  padding: 0.5%;
  margin: 1%;
  height: 30px;
  color: white;
}

li a {
  text-decoration: none;
  vertical-align: middle;
  line-height: 30px;
  display: block;
  text-transform: uppercase;
  color: inherit;
}

li.route:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #494949;
}

li.route.ng-scope {
}

form.details-box input {
  padding: 10px;
}

.guide {
  width: 80%;
  margin: 20px auto;
}

.guide h3 {
  margin: 0;
}

.guide p {
  margin: 0;
}

.guide p a {
  color: #006f98;
  font-weight: bolder;
}

.guide a {
  text-decoration: none;
  color: inherit;
}

.loader-example {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  position: relative;
}
