<div style="text-align: center">

  <h2>Change this fake details</h2>

  <form class="details-box" name="myForm">
    <input type="text" ng-model="myInput.name">
    <input type="text" ng-model="myInput.surname">
    <input type="submit" value="Save">
  </form>

  <p style="text-align: center">
    Change the details above and try to change route, a confirm box will appear asking if you really want to exit before the saves are changed.
    <br>If you press <b>No</b> the route change will be prevented and the page loader will not appear.
    <br>If you press <b>Yes</b> the route will change and the loader will appear until is fully loaded.
  </p>

</div>
