<h2>Have fun with angular-loader</h2>

<p>
  Enjoy using <b>angular-loader</b> on your application and make your users happier too increasing the user experience.
</p>

<p>
  The only thing you have to do is add the <b>preloader</b> html element in your DOM.
  <br>By default the module will trigger the loader only if the page takes more than 250ms to load, anyway you can customize it.
</p>

<p>
  This sample page simulate a long resolve time so the loader appears until the view is fully loaded.
  <br>But if the page if very quick to load like this one: <a href="#/sample">quick page</a> the loader has no reason to bee shown.
</p>
